.article {
   display: flex;
   padding: 0 7%;
   justify-content: space-between;
   margin-bottom: 200px;

   @media screen and (max-width: 1000px) {
      flex-direction: column;

      &--reverse {
         flex-direction: column-reverse;
      }
   }

   &__box {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5% 10% 5% 0;

      &--right {
            padding: 5% 0 5% 10%;    
            
            @media screen and (max-width: 1000px) {
               padding: 5% 10% 5% 0;
            }
      }
   }
   
      &__subtitle {
         line-height: 0;
      }
   
      &__title {         
         width: 400px;

         @media screen and (max-width: 1000px) {
            width: auto;

         }
      }
   
      &__text {
         color: $white;
         font-family: "Lato", sans-serif;
         line-height: 1.8;
      }
   
      &__button {
         margin-top: 50px;

         a {
            font-family: "Lato", sans-serif;
            color: $orange;
            display: flex;
            
            span {
               margin-left: 20px;
            }
         }
      }
   
   &__img-wrapper {
      flex-basis: 35%;
   }

   
}
.title-01{
   &::after {
      content: '01';
      position: absolute;
      color: rgba(255, 255, 255, 0.1);
      font-size: 150px;
      font-family: "Lato", sans-serif;
      top: 50%;
      left: -200px;
      font-weight: 900;
   }
}
.title-02{
   &::after {
      content: '02';
      position: absolute;
      color: rgba(255, 255, 255, 0.1);
      font-size: 150px;
      font-family: "Lato", sans-serif;
      top: 50%;
      left: -200px;
      font-weight: 900;
   }
}
.title-03{
   &::after {
      content: '03';
      position: absolute;
      color: rgba(255, 255, 255, 0.1);
      font-size: 150px;
      font-family: "Lato", sans-serif;
      top: 50%;
      left: -200px;
      font-weight: 900;
   }
}