// fonts

$font-weights: (
   "medium": 500,
   "bold": 700,
   "extra-bold": 800,
); 

$font-size: 18px;

$bg-color: #0B1D26;
$hero-shadow: #0B1D26;
$orange: #FBD784;
$white: #ffffff;

// grid-breakpoints

$iphoneX: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
