

h1, h2, h3, h4, h5, h6 {
   font-family: "PT Serif";
}

a[title="MNTN"] {
   font-family: "PT Serif";
   color: $white;
}

.main-navigation__list-link, 
.page-header__account-text,
.social-navigation,
.articles-navigation,
.hero-content__scroll {
   font-family: "lato";
}